.idea
.env
.phpunit.result.cache
composer.lock
coverage
docs
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules
yarn-error.log

public/hot

_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql
